{% extends 'main.html' %}
{% load static %}
{% block content %}


<div>
    <p>SIMPLE NAV JUST FOR NOW</p>
    <p><a href="{% url 'accounts:favourites' %}">Favourites</a></p>
    <hr>
    <p>Products in Cart: {{ cart_items }}</p>

    <div>
        {% for category in categories %}
            <strong><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></strong>
        {% endfor %}
    </div>

    <div>
        <p><a href="{% url 'store:store' %}">Back to Store</a></p>
    </div>

</div>



<div>
    {% if categories %}
        <div>
            {% for category in object_list %}
                <div>
                    <img src="{{ category.imageURL }}">
                    <p><strong><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></strong></p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock content %}