{% extends 'main.html' %}
{% load static %}
{% block content %}

<div>
    <p>SIMPLE NAV JUST FOR NOW</p>
    <p><a href="{% url 'accounts:orders_history' %}">Orders History</a></p>
    <p><a href="{% url 'accounts:favourites' %}">Favourites</a></p>
    <p>Products in Cart: {{ cart_items }}</p>
    <p><strong><a href="{% url 'store:categories' %}">ALL CATEGORIES</a></strong></p>
    <div>
        {% for category in categories %}
            <strong><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></strong>
        {% endfor %}
        <strong><a href="{% url 'store:promotions' %}">Promotions</a></strong>
    </div>
    <div>
        <p><a href="{% url 'store:store' %}">Back to Store</a></p>
    </div>
</div>

    <strong>{{ viewed_category.name }}</strong>

    <div>
        {% if meta_products %}
            {% for meta_product in meta_products %}
            <img src="{{ meta_product.imageURL }}">
            <div>
                <strong>{{ meta_product.name }}</strong>
<!--                What do you think about display category name one more time?-->
<!--                <p>category: {{ meta_product.category }}</p>-->
                <a href="{{ meta_product.get_absolute_url }}">More...</a>
                <hr>
            </div>
            {% endfor %}
        {% else %}
            <p>Sorry, we're out of stock!</p>
        {% endif %}
    </div>

{% endblock content %}