{% extends 'main.html' %}
{% load static %}
{% block content %}

<div>
    <p>SIMPLE NAV JUST FOR NOW</p>
    <p><a href="{% url 'accounts:orders_history' %}">Orders History</a></p>
    <p><a href="{% url 'accounts:favourites' %}">Favourites</a></p>
    <p>Products in Cart: {{ cart_items }}</p>

    <p><strong><a href="{% url 'store:categories' %}">ALL CATEGORIES</a></strong></p>
    <div>
        {% for category in categories %}
            <strong><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></strong>
        {% endfor %}
        <strong><a href="{% url 'store:promotions' %}">Promotions</a></strong>
    </div>

    <div>
        <p><a href="{% url 'store:store' %}">Back to Store</a></p>
    </div>
</div>

<div>
    <strong>{{ meta_product.category }}</strong>
</div>

<div>
    <img src="{{ meta_product.imageURL }}">
    <div>
        <strong>{{ meta_product.name }}</strong>
        {% if favourite.favourite == True %}
        <p>You have fav this!</p>
        {% else %}
        <p>You didn't fav this prod</p>
        {% endif %}
        <p>category: {{ meta_product.category }}</p>
        <p>description: {{ meta_product.description }}</p>
        {% if meta_product.digital %}
            <p>Digital</p>
        {% endif %}
        <div>
            {% if meta_product.measure == 1 %}
                <p>Kind of measure: By Weight</p>
            {% elif meta_product.measure == 2 %}
                <p>Kind of measure: By Quantity</p>
            {% endif %}
        </div>
    </div>
    <div>
        {% if products %}
            <h3>Available package sizes:</h3>
            {% for product in products %}
                {% if product.package == 1 %}
                    <p>Package size: 100 gr</p>
                {% elif product.package == 2 %}
                    <p>Package size: 250 gr</p>
                {% elif product.package == 3 %}
                    <p>Package size: 500 gr</p>
                {% elif product.package == 4 %}
                    <p>Package size: 1 kg</p>
                {% elif product.package == 5 %}
                    <p>Package size: 1</p>
                {% elif product.package == 6 %}
                    <p>Package size: 4</p>
                {% elif product.package == 7 %}
                    <p>Package size: 6</p>
                {% elif product.package == 8 %}
                    <p>Package size: 12</p>
                {% else %}
                    <p>Package size: 24</p>
                {% endif %}

                {% if product.promotion_price %}
                    <p>promotion price: {{ product.promotion_price|floatformat:2 }} PLN</p>
                    <p>standard price:<strike>{{ product.price|floatformat:2 }} PLN</strike></p>
                {% else %}
                    <p>price: {{ product.price|floatformat:2 }} PLN</p>
                {% endif %}
                <p>availability: {{ product.availability|floatformat:"0" }}</p>
                <p><strong>Buy</strong></p>
                <hr>
            {% endfor %}
        {% else %}
            <hr>
            <p>Sorry, we're out of stock!</p>
            <hr>
        {% endif %}

    </div>
{% if user.is_authenticated %}
    <div>
        <form method="post">
            {% csrf_token %}
            <p>Stars: {{ form.rating }}</p>
            <p>Title: {{ form.title }}</p>
            <p>Opinion: {{ form.opinion }}</p>
            <input type="submit" value="Submit" name="Create Opinion">
        </form>
    </div>
{% endif %}

<div>
    {% if opinions %}
        {% for opinion in opinions %}
            <div>
                {% if opinion.rating %}
                <p>Rating (Stars): {{ opinion.rating }}</p>
                {% endif %}
                {% if opinion.title %}
                <p>Title: {{ opinion.title }}</p>
                {% endif %}
                {% if opinion.opinion %}
                <p>Opinion: {{ opinion.opinion }}</p>
                {% endif %}
                <p>Customer: {{ opinion.customer }}</p>
                <p>Date: {{ opinion.date_created }}</p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        {% if user.is_authenticated %}
        <p>This product has no opinion yet. You can be first!</p>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}

