{% extends 'main.html' %}
{% load static %}
{% block content %}

<div>
    <h1>Completed Orders</h1>
    <a href="{% url 'orders' %}">Back to All Orders</a>
    <ul>
        {% for completed_order in object_list %}
            <ul>
                <p>#{{ forloop.counter }} - Order id: {{ completed_order.id }}</p>
                <p>Customer: {{ completed_order.customer }} - Complete: {{ completed_order.complete }}</p>
                <p>Date: {{ completed_order.date_ordered.date }} - Time: {{ completed_order.date_ordered.time }}</p>
                <p>Total: {{ completed_order.get_cart_total }} - Items: {{ completed_order.get_cart_items }}</p>
                <a href="{% url 'completed_order_details' completed_order.id %}">Order details</a>
                <hr>
            </ul>
        {% endfor %}
    </ul>
</div>

{% endblock content %}
